@import "tailwindcss";

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    main.simple {
        font-family: "Courier New", monospace;
        padding-top: 1rem;
        max-width: 680px;
        margin: 0 auto;

        h1 {
            font-size: 2rem;
            font-weight: bold;
        }

        pre {
            font-size: 0.8rem;
            text-align: left;
            padding: 1rem;
            background-color: #e8e8e8;
        }
    }

    /* Fix nextjs layout */
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
}
